<div class="container" ng-controller="MainCtrl">
    <div class="row col-lg-12">
        <div class="col-xs-3">
            <h1>My Week</h1>
        </div>
        <div class="col-xs-5">
            <a class="btn btn-success" href="#/edit">Add Task</a>
            <a class="btn btn-success" href="#/edit">Add Goal</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1">
            Monday
            <ul ui-on-Drop="onDrop($event,$data,mon)">
                <li ui-draggable="true" drag="monday"
                    on-drop-success="dropSuccessHandler($event,$index,mon)"
                    ng-repeat="monday in mon track by $index">
                    {{monday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Tuesday
            <ul ui-on-Drop="onDrop($event,$data,tue)">
                <li ui-draggable="true" drag="tuesday"
                    on-drop-success="dropSuccessHandler($event,$index,tue)"
                    ng-repeat="tuesday in tue track by $index">
                    {{tuesday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Wensday
            <ul ui-on-Drop="onDrop($event,$data,wen)">
                <li ui-draggable="true" drag="wensday"
                    on-drop-success="dropSuccessHandler($event,$index,wen)"
                    ng-repeat="wensday in wen track by $index">
                    {{wensday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Thursday
            <ul ui-on-Drop="onDrop($event,$data,thu)">
                <li ui-draggable="true" drag="thursday"
                    on-drop-success="dropSuccessHandler($event,$index,thu)"
                    ng-repeat="thursday in thu track by $index">
                    {{thursday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Friday
            <ul ui-on-Drop="onDrop($event,$data,fri)">
                <li ui-draggable="true" drag="friday"
                    on-drop-success="dropSuccessHandler($event,$index,fri)"
                    ng-repeat="friday in fri track by $index">
                    {{friday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Saturday
            <ul ui-on-Drop="onDrop($event,$data,sat)">
                <li ui-draggable="true" drag="saturday"
                    on-drop-success="dropSuccessHandler($event,$index,sat)"
                    ng-repeat="saturday in sat track by $index">
                    {{saturday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            Sunday
            <ul ui-on-Drop="onDrop($event,$data,sun)">
                <li ui-draggable="true" drag="sunday"
                    on-drop-success="dropSuccessHandler($event,$index,sun)"
                    ng-repeat="sunday in sun track by $index">
                    {{sunday}}
                </li>
            </ul>
        </div>
    </div>
</div>