<div class="container" ng-controller="MainCtrl">
    <div class="row topRow">
        <h4 class="heading">
            Drag and drop between the two lists.
        </h4>
    </div>

    <div class="row">
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,mon)">
                <li ui-draggable="true" drag="monday"
                    on-drop-success="dropSuccessHandler($event,$index,mon)"
                    ng-repeat="monday in mon track by $index">
                    {{monday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,tur)">
                <li ui-draggable="true" drag="tursday"
                    on-drop-success="dropSuccessHandler($event,$index,tur)"
                    ng-repeat="tursday in tur track by $index">
                    {{tursday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,wen)">
                <li ui-draggable="true" drag="wensday"
                    on-drop-success="dropSuccessHandler($event,$index,wen)"
                    ng-repeat="wensday in wen track by $index">
                    {{wensday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,thu)">
                <li ui-draggable="true" drag="thursday"
                    on-drop-success="dropSuccessHandler($event,$index,thu)"
                    ng-repeat="thursday in thu track by $index">
                    {{thursday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,fri)">
                <li ui-draggable="true" drag="friday"
                    on-drop-success="dropSuccessHandler($event,$index,fri)"
                    ng-repeat="friday in fri track by $index">
                    {{friday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,sat)">
                <li ui-draggable="true" drag="saturday"
                    on-drop-success="dropSuccessHandler($event,$index,sat)"
                    ng-repeat="saturday in sat track by $index">
                    {{saturday}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <ul ui-on-Drop="onDrop($event,$data,sun)">
                <li ui-draggable="true" drag="sunday"
                    on-drop-success="dropSuccessHandler($event,$index,sun)"
                    ng-repeat="sunday in sun track by $index">
                    {{sunday}}
                </li>
            </ul>
        </div>
    </div>
    <a href="#/edit">Clik</a>
</div>