<div class="row">
    <div class="col-lg-12">
        <h1>New goal</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-9">
        What do you need to do?
    </div>
    <div class="col-xs-3">
        * When's it due?
    </div>
</div>
<div class="row">
    <div class="col-xs-9">
        <input class="form-control" type="text" required ng-model="goalContent"/>
    </div>
    <div class="col-xs-3">
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                   min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
</div>
<div class="row margintop">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add tasks for this goal</div>
            <div class="panel-body">
                <div ng-repeat="list in taskList track by $index">
                    <div class="row">
                        <div class="col-xs-8">
                            Step
                        </div>
                        <div class="col-xs-3">
                            Time needed (min)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <input class="form-control" type="text" ng-required="true" ng-model="list.text"/>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" ng-required="true" ng-model="list.time"/>
                        </div>
                        <div class="col-xs-1">
                            <a class="btn remove" ng-click="removeTask()">remove</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a ng-click="addTask()" class="btn">Add another task</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success" ng-click="addGoal()">Create goal</a>
        <a href="#/" class="btn btn-success">Back</a>
    </div>
</div>